@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

:root {
  --color-white: #fff;

  --color-blue-50: #eff1fa;
  --color-blue-100: #d7e0ff;
  --color-blue-850: #1e213f;
  --color-blue-900: #161932;

  --color-red-400: #f87070;

  --color-cyan-300: #70f3f8;

  --color-purple-400: #d881f8;

  --color-grey-200: #e3e1e1;

  --color-clock-progress-ring: var(--color-red-400);

  --timer-font-family: "Kumbh Sans", sans-serif;
  --timer-font-size: 5rem;
  --timer-font-weight: 700;
  --timer-line-height: 125%;
  --timer-letter-spacing: -0.3125rem;
}

html[data-color="red"] {
  --color-clock-progress-ring: var(--color-red-400);
}

html[data-color="cyan"] {
  --color-clock-progress-ring: var(--color-cyan-300);
}

html[data-color="purple"] {
  --color-clock-progress-ring: var(--color-purple-400);
}

html[data-font="Sans"] {
  --timer-font-family: "Kumbh Sans", sans-serif;
  --timer-font-weight: 700;
  --timer-letter-spacing: -0.3125rem;
}

html[data-font="Serif"] {
  --timer-font-family: "Roboto Slab", serif;
  --timer-font-weight: 700;
  --timer-letter-spacing: 0;
}

html[data-font="Mono"] {
  --timer-font-family: "Space Mono", monospace;
  --timer-font-weight: 350;
  --timer-letter-spacing: -0.3125rem;
}

@theme {
  --color-white: var(--color-white);

  --color-blue-50: var(--color-blue-50);
  --color-blue-850: var(--color-blue-850);
  --color-blue-900: var(--color-blue-900);

  --color-red-400: var(--color-red-400);

  --color-cyan-300: var(--color-cyan-300);

  --color-purple-400: var(--color-purple-400);

  --color-gray-200: var(--color-grey-200);

  --color-clock-progress-ring: var(--color-clock-progress-ring);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
}

@utility text-preset-1 {
  color: var(--colors-blue-900, #161932);

  /* Text Preset 1 (Settings) - Kumbh Sans Bold - 28px - 125% Line Height - 0px Line Spacing */
  font-family: "Kumbh Sans";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 2.1875rem */
}

@utility text-preset-2 {
  color: var(--colors-white, #fff);
  text-align: center;

  /* Text Preset 2 (Settings, Font 1) - Kumbh Sans Bold - 16px - 125% Line Height - 0px Line Spacing */
  font-family: "Kumbh Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 1.25rem */
}

@utility text-preset-3 {
  color: var(--colors-blue-850, #1e213f);

  /* Text Preset 3 (Settings) - Kumbh Sans Bold - 13px - 125% Line Height - 5px Line Spacing */
  font-family: "Kumbh Sans";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 1.01563rem */
  letter-spacing: 0.3125rem;
}

@utility text-preset-4 {
  color: var(--colors-blue-850, #1e213f);

  /* Text Preset 4 (Settings) - Kumbh Sans Bold - 12px - 125% Line Height - 0px Line Spacing */
  font-family: "Kumbh Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

@utility text-preset-5 {
  color: var(--colors-blue-900, #161932);
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.26444rem;
}

@utility text-preset-6 {
  color: var(--colors-blue-100, #d7e0ff);
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@utility text-preset-7 {
  font-family: "Kumbh Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 0.9375rem */
}

@utility text-preset-8 {
  color: var(--color-blue-100);
  text-align: center;
  font-family: var(--timer-font-family);
  font-size: 5rem;
  font-style: normal;
  font-weight: var(--timer-font-weight);
  line-height: 125%;
  letter-spacing: var(--timer-letter-spacing);
}

@utility text-preset-9 {
  color: var(--colors-blue-100, #d7e0ff);
  text-align: center;

  font-family: var(--font-timer);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.8125rem;
}

@utility stroke-preset-1 {
  fill: none;
  stroke: var(--color-clock-progress-ring);
  stroke-width: 8px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: center;
  transform-box: fill-box;
  transition: stroke-dashoffset 1s ease;
}

@utility separator {
  width: 100%;
  height: 0.0625rem;
  background: var(--colors-grey-200, #e3e1e1);
}

@utility sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border-width: 0;
}

@utility clock-container {
  border-radius: 9.375rem;
  background: var(
    --colors-gradient-1,
    linear-gradient(271deg, #2e325a 0%, #0e112a 100%)
  );
  box-shadow:
    -50px -50px 100px 0 #272c5a,
    50px 50px 100px 0 #121530;
}

* {
  box-sizing: border-box;
}
